  .popup-holder {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
        }
        
        .popup {
            background: white;
            width: 500px;
            max-width: 100%;
            display: inline-block;
            margin-top: 17%;
            border-radius: 2px;
        }
        
        .popup .buttons-container {
            text-align: center;
        }
        
        .popup h1 {
            color: black;
            text-transform: uppercase
        }
        
        .popup p {
            text-align: center;
        }
        
        .popup .buttons-container .btn {
            display: inline-block;
            padding: 5px 15px;
            border-radius: 2px;
            background: #333;
            color: white;
            text-transform: uppercase;
            margin: 5px;
        }
        
        .popup .buttons-container .btn:hover {
            text-decoration: none;
            background: #888;
            cursor: pointer
        }