.datepicker-wrapper {
    position: relative;
}

.datepicker-wrapper input.datepicker {
    width: 100%;
    border-radius: 5px;
    height: 20px;
    padding: 5px 10px;
}

.datepicker-wrapper input.datepicker:focus, .btn:focus {
    outline: 0;
}

.datepicker-wrapper .picker {
    display: none;
    position: absolute;
    top: 32px;
    border: 1px solid black;
    left: 0;
    width: 250px;
    height: 320px;
}

.datepicker-wrapper .picker .controls {
    background-color: green;
    color: white;
    padding: 5px;
}

.datepicker-wrapper .picker .current-date {
    background-color: green;
    color: white;
    padding: 12px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
}

.datepicker-wrapper .picker .controls .current-month {
    display: inline-block;
    width: 180px;
    text-align: center;
}

.datepicker-wrapper .picker .controls .btn {
    border: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 25px;
}
.datepicker-wrapper .picker .controls .btn:hover {
    background-color: #33CC33;
    cursor: pointer;
}

.datepicker-wrapper .picker .calendar {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.datepicker-wrapper .picker .calendar th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.datepicker-wrapper .picker .calendar td.another-month {
    color: lightgray;
}

.datepicker-wrapper .picker .calendar td.current-month:hover {
    cursor: pointer;
    background-color: #33CC33;
    color: white;
}

.datepicker-wrapper .picker .current-date-link {
    color: white;
    text-decoration: none;
}

.datepicker-wrapper .picker .current-date-link:hover {
    text-decoration: underline;
}

.datepicker-wrapper .picker-visible {
    display: block;
}