.items-control {
  margin-left: 50px;
  margin-top: 50px;
  width: 400px;
  text-align: center;
  border: 1px solid #000;
}
.items-control .button {
  padding: 5px 15px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 3px;
  width: 90%;
  margin-top: 5px;
}
.items-control .button:hover {
  background: #ddd;
  text-decoration: underline;
}
.items-control .add-controls,
.items-control .search-controls,
.items-control .result-controls {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.items-control .result-controls {
  text-align: left;
}
.items-control .result-controls .list-item {
  list-style-type: none;
  font-size: 1.2em;
  vertical-align: middle;
  padding: 15px;
  border-bottom: 1px solid #000;
}
.items-control .result-controls .list-item:last-of-type {
  border-bottom: 0;
}
.items-control .result-controls .list-item:after {
  clear: both;
  display: block;
  content: '';
}
.items-control .result-controls .button {
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  margin-right: 15px;
}
